In [1]:
import pandas as pd

In [4]:
filepath =r'F:\DataSource\pandas\userAddress.txt'
user_id= pd.read_csv(filepath, sep ='|')
print(user_id.head(25))
print(user_id.dtypes)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [5]:
print(user_id.tail(10))

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

In [8]:
print(user_id.info())
print("User_Id's Shape",user_id.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB
None
User_Id's Shape (943, 5)

In [10]:
user_idx = user_id.index
print(user_idx)

RangeIndex(start=0, stop=943, step=1)

In [14]:
print(user_id.columns)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [15]:
print(user_id.occupation[0:5])

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

In [17]:
print(user_id.occupation.unique())

['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

In [20]:
print(user_id.occupation.value_counts().head(1))

student    196
Name: occupation, dtype: int64

In [23]:
print(user_id.describe(include='all'))

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

In [25]:
print(user_id.occupation.describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [26]:
print(round(user_id.age.mean()))

34.0

In [29]:
print(user_id.age.value_counts().tail(1))

7    1
Name: age, dtype: int64