# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [34]:
#columns=['regiment','company','name','preTestScore','postTestScore']
regiment = pd.DataFrame.from_dict(raw_data, orient='columns' )
print(regiment)

   company      name  postTestScore  preTestScore    regiment
0      1st    Miller             25             4  Nighthawks
1      1st  Jacobson             94            24  Nighthawks
2      2nd       Ali             57            31  Nighthawks
3      2nd    Milner             62             2  Nighthawks
4      1st     Cooze             70             3    Dragoons
5      1st     Jacon             25             4    Dragoons
6      2nd    Ryaner             94            24    Dragoons
7      2nd      Sone             57            31    Dragoons
8      1st     Sloan             62             2      Scouts
9      1st     Piger             70             3      Scouts
10     2nd     Riani             62             2      Scouts
11     2nd       Ali             70             3      Scouts

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [38]:
mean_nighthawks = regiment[regiment['regiment']=='Nighthawks']
mean_nighthawks.groupby('regiment').mean()

            postTestScore  preTestScore
regiment
Nighthawks           59.5         15.25

### Step 5. Present general statistics by company

In [39]:
regiment.groupby('company').describe()

        postTestScore                                                       \
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

        preTestScore
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

### Step 6. What is the mean each company's preTestScore?

In [25]:
regiment.groupby('company').agg({'preTestScore': np.mean})

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [27]:
regiment.groupby(['regiment','company']).agg({'preTestScore': np.mean})

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [40]:
regiment.groupby(['regiment','company']).agg({'preTestScore': np.mean}).unstack()

           preTestScore
company             1st   2nd
regiment
Dragoons            3.5  27.5
Nighthawks         14.0  16.5
Scouts              2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [30]:
regiment.groupby(['regiment','company']).describe()

                   postTestScore                                             \
                           count  mean        std   min    25%   50%    75%
regiment   company
Dragoons   1st               2.0  47.5  31.819805  25.0  36.25  47.5  58.75
           2nd               2.0  75.5  26.162951  57.0  66.25  75.5  84.75
Nighthawks 1st               2.0  59.5  48.790368  25.0  42.25  59.5  76.75
           2nd               2.0  59.5   3.535534  57.0  58.25  59.5  60.75
Scouts     1st               2.0  66.0   5.656854  62.0  64.00  66.0  68.00
           2nd               2.0  66.0   5.656854  62.0  64.00  66.0  68.00

                         preTestScore                                      \
                     max        count  mean        std   min    25%   50%
regiment   company
Dragoons   1st      70.0          2.0   3.5   0.707107   3.0   3.25   3.5
           2nd      94.0          2.0  27.5   4.949747  24.0  25.75  27.5
Nighthawks 1st      94.0          2.0  14.0  14.142136   4.0   9.00  14.0
           2nd      62.0          2.0  16.5  20.506097   2.0   9.25  16.5
Scouts     1st      70.0          2.0   2.5   0.707107   2.0   2.25   2.5
           2nd      70.0          2.0   2.5   0.707107   2.0   2.25   2.5


                      75%   max
regiment   company
Dragoons   1st       3.75   4.0
           2nd      29.25  31.0
Nighthawks 1st      19.00  24.0
           2nd      23.75  31.0
Scouts     1st       2.75   3.0
           2nd       2.75   3.0

### Step 10. What is the number of observations in each regiment and company

In [31]:
regiment.groupby(['regiment','company']).count()

                    name  postTestScore  preTestScore
regiment   company
Dragoons   1st         2              2             2
           2nd         2              2             2
Nighthawks 1st         2              2             2
           2nd         2              2             2
Scouts     1st         2              2             2
           2nd         2              2             2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [41]:
 for name, group in regiment.groupby('regiment'):
        print(name)
        print(group)

Dragoons
  company    name  postTestScore  preTestScore  regiment
4     1st   Cooze             70             3  Dragoons
5     1st   Jacon             25             4  Dragoons
6     2nd  Ryaner             94            24  Dragoons
7     2nd    Sone             57            31  Dragoons
Nighthawks
  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
Scouts
   company   name  postTestScore  preTestScore regiment
8      1st  Sloan             62             2   Scouts
9      1st  Piger             70             3   Scouts
10     2nd  Riani             62             2   Scouts
11     2nd    Ali             70             3   Scouts