# Online Retails Purchase

### Introduction:



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Visualization/Online_Retail/Online_Retail.csv).

### Step 3. Assign it to a variable called online_rt

In [4]:
input_file = r'data\Online_Retail.csv'
online_rt = pd.read_csv(input_file, encoding='cp1252',parse_dates=True)

In [5]:
print(online_rt.info())
online_rt.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26,3.39,17850.0,United Kingdom

### Step 4. Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK

In [16]:
top_ten_quantity = online_rt[online_rt['Country'] != 'United Kingdom'].groupby(['Country'],as_index =False).agg({'Quantity':'sum'}).nlargest(10,'Quantity')
top_ten_quantity
sns.distplot('+')

        Country  Quantity
24  Netherlands    200128
10         EIRE    142637
14      Germany    117448
13       France    110480
0     Australia     83653
32       Sweden     35637
33  Switzerland     30325
31        Spain     26824
20        Japan     25218
3       Belgium     23152

### Step 5.  Exclude negative Quatity entries

### Step 6. Create a scatterplot with the Quantity per UnitPrice by CustomerID for the top 3 Countries

### BONUS: Create your own question and answer it.