In [2]:
import pandas as pd

In [2]:
series = pd.Series([21,9,2013])

# Series
A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) 
and an associated array of data labels, called its index.

In [5]:
series.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
series_I =pd.Series([21,9,2013],index=['mm','dd','yyyy'])
series_I

mm        21
dd         9
yyyy    2013
dtype: int64

In [3]:
dataframe = pd.DataFrame({'Year':[2000,2001,2002,2003],
                          'Median_Age': [24.2, 26.4, 28.5, 30.3],
                          'Density': [244, 256, 268, 279]
                           })

In [4]:
dataframe

   Density  Median_Age  Year
0      244        24.2  2000
1      256        26.4  2001
2      268        28.5  2002
3      279        30.3  2003

In [5]:
dataframe['month']=None

In [6]:
dataframe

   Density  Median_Age  Year month
0      244        24.2  2000  None
1      256        26.4  2001  None
2      268        28.5  2002  None
3      279        30.3  2003  None

In [7]:
dataframe['month'].isnull()

0    True
1    True
2    True
3    True
Name: month, dtype: bool

In [9]:
dataframe['month']=[1,2,3,4]

In [11]:
dataframe

   Density  Median_Age  Year  month
0      244        24.2  2000      1
1      256        26.4  2001      2
2      268        28.5  2002      3
3      279        30.3  2003      4

In [12]:
dataframe.loc[1]

Density        256.0
Median_Age      26.4
Year          2001.0
month            2.0
Name: 1, dtype: float64

In [6]:
dataframe.values

array([[244, 24.2, 2000, None],
       [256, 26.4, 2001, None],
       [268, 28.5, 2002, None],
       [279, 30.3, 2003, None]], dtype=object)