In [1]:
import numpy as np
import pandas as pd

In [2]:
# How to create a series from a list, numpy array and dict?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [3]:
series_list  = pd.Series(mylist)
series_nparr = pd.Series(myarr)
series_dict = pd.Series(mydict)

In [4]:
#3. How to convert the index of a series into a column of a dataframe?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser.head()
frame = ser.to_frame().reset_index() 
frame.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [5]:
# 4.How to combine many series to form a dataframe?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
frame_4 = pd.concat([ser1,ser2],axis =1)
frame_4.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [6]:
# 4.How to get the items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [7]:
result = list(set(ser1) -set(ser2))
display(pd.Series(result))
result_2 = ser1[~ser1.isin(ser2)]
result_2

0    1
1    2
2    3
dtype: int64

0    1
1    2
2    3
dtype: int64

In [8]:
# 7. How to get the items not common to both series A and series B?
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([4, 5, 6, 7, 8])

In [9]:
# How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
ser = pd.Series(np.random.normal(10, 5, 25))
ser.quantile([.25, .5, .75,1.0])

0.25     6.510961
0.50     8.639475
0.75    10.774422
1.00    17.708014
dtype: float64

In [10]:
# How to get frequency counts of unique items of a series?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

a    9
f    6
e    3
h    3
d    3
b    3
c    2
g    1
dtype: int64

In [11]:
#10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser[~ser.isin(ser.value_counts().index[:2])]= 'other'
display(ser)

0     other
1     other
2     other
3         3
4         4
5         4
6     other
7         3
8         3
9     other
10        3
11        4
dtype: object

In [12]:
#11. How to bin a numeric series to 10 groups of equal size?
ser = pd.Series(np.random.random(20))
pd.cut(ser,10, labels =["1st ","2nd","3rd","4th","5th","6th","7th","8th","9th","10th"])

0      2nd
1      3rd
2     1st
3      6th
4      9th
5      3rd
6      9th
7     10th
8      3rd
9      2nd
10     3rd
11     2nd
12     8th
13     5th
14     7th
15    1st
16     6th
17    1st
18     9th
19     8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [13]:
#12. How to convert a numpy array to a dataframe of given shape
#Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))
pd.DataFrame(ser.values.reshape(7,5))

   0  1  2  3  4
0  6  5  1  6  4
1  4  5  5  7  8
2  9  4  1  4  6
3  7  1  6  6  6
4  9  4  8  2  8
5  4  8  7  8  1
6  2  4  8  8  2

In [14]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?
ser = pd.Series(np.random.randint(1, 10, 7))
display(ser)
ser[ser%3 ==0].index

0    4
1    9
2    3
3    2
4    6
5    1
6    4
dtype: int32

Int64Index([1, 2, 4], dtype='int64')

In [15]:
#14. How to extract items at given positions from a series
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.loc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [16]:
#15. How to stack two series vertically and horizontally ?
#Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.DataFrame(list(zip(ser1,ser2)))

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

##### 16. How to get the positions of items of series A in another series B?

In [17]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(val) for val in ser2]

[5, 4, 0, 8]

##### 17. How to compute the mean squared error on a truth and predicted series?

In [18]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [19]:
np.mean((pred-truth)**2)

0.1378392399415212

##### 18. How to convert the first character of each element in a series to uppercase?

In [20]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [21]:
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### 19. How to calculate the number of characters in each word in a series?

In [22]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(lambda x:len(x))

0    3
1    2
2    4
3    4
dtype: int64

#### 20. How to compute difference of differences between consequtive numbers of a series?

In [23]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [24]:
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

#####  21. How to convert a series of date-strings to a timeseries?

In [25]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser,infer_datetime_format=True)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

##### 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [26]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [27]:
serd =pd.to_datetime(ser,infer_datetime_format=True)

In [28]:
print(f"Day:{serd.dt.day.tolist()}")
print(f"Week:{serd.dt.week.tolist()}")
print(f"Year:{serd.dt.year.tolist()}")
print(f"Day Of Week:{serd.dt.day_name().tolist()}")

Day:[1, 2, 3, 4, 5, 6]
Week:[53, 5, 9, 14, 19, 23]
Year:[2010, 2011, 2012, 2013, 2014, 2015]
Day Of Week:['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']