In [1]:
import numpy as np 
import pandas as pd 
import requests 
import matplotlib.pyplot as plt 
from tqdm import tqdm
%matplotlib inline

In [2]:
r = requests.get('https://www.renthop.com/listings/e-39th-st/19c/14892083')

In [3]:
from bs4 import BeautifulSoup

In [4]:
soup = BeautifulSoup(r.content, "html.parser")

In [5]:
listing_divs = soup.select('div[class*=search-info]')

In [6]:
len(listing_divs)

13

In [7]:
def parse_data(listing_divs):
    listing_list = [] 
    for idx in range(len(listing_divs)):
        indv_listing = []
        current_listing = listing_divs[idx]
        href = current_listing.select('a[id*=title]')[0]['href'] 
        addy = current_listing.select('a[id*=title]')[0].string 
        hood = current_listing.select('div[id*=hood]')[0].string.replace('\n','') 
        indv_listing.append(href)
        indv_listing.append(addy)
        indv_listing.append(hood)

        listing_specs = current_listing.select('table[id*=info] tr') 

        for spec in listing_specs:
            try: 
                #print(spec.text.replace(' ', '_').split())
                parts =spec.text.replace(' ', '').split()
                if len(parts)==4:
                    parts[3],parts[2] =parts[2],parts[3]
                #print(parts)
                indv_listing.extend(parts) 
            except: 
                indv_listing.extend(np.nan) 
        listing_list.append(indv_listing)  
    return listing_list

In [8]:
listing_list = parse_data(listing_divs)

In [9]:
url_prefix = "https://www.renthop.com/search/nyc?max_price=50000&min_price=0&page=" 
page_no = 1 
url_suffix = "&sort=hopscore&q=&search=0"

In [11]:
all_pages_parsed = [] 
for i in tqdm(range(1,101)): 
    page_no = i 
    target_page = url_prefix + str(page_no) + url_suffix 
     
    r = requests.get(target_page) 
     
    soup = BeautifulSoup(r.content, 'html.parser') 
     
    listing_divs = soup.select('div[class*=search-info]') 
     
    one_page_parsed = parse_data(listing_divs) 
     
    all_pages_parsed.extend(one_page_parsed)

100%|█████████████████████████████████████████████████████████████████████████████████| 100/100 [02:29<00:00,  1.46s/it]

In [12]:
all_pages_parsed[0]

['https://www.renthop.com/listings/332-e-109th-street/5/15169991',
 '331 E 109th St, Apt 5',
 'East Harlem, Upper Manhattan, Manhattan',
 '$2,250',
 '2Bed',
 '1Bath']

In [13]:
rent_listing_df  = pd.DataFrame(all_pages_parsed,columns=['url', 'address', 'neighborhood', 'rent','bed','baths','Additional'])
rent_listing_df.head()

,url,address,neighborhood,rent,bed,baths,Additional
0,https://www.renthop.com/listings/332-e-109th-s...,"331 E 109th St, Apt 5","East Harlem, Upper Manhattan, Manhattan","$2,250",2Bed,1Bath,None
1,https://www.renthop.com/listings/74-macdonough...,"74 Macdonough St, Apt 4","Bedford-Stuyvesant, Northern Brooklyn, Brooklyn","$2,750",2Bed,2Bath,None
2,https://www.renthop.com/listings/167-west-10th...,"167 West 10th Street, Apt TOWN...","West Village, Downtown Manhattan, Manhattan","$9,995",3Bed,2Bath,None
3,https://www.renthop.com/listings/w-191-street/...,W 191 Street,"Fort George, Washington Heights, Upper Manhatt...","$1,568",1Bed,1Bath,None
4,https://www.renthop.com/listings/1385-york-ave...,"1385 York Ave, Apt G","Upper East Side, Upper Manhattan, Manhattan","$6,995",2Bed,3Bath,/Flex3

In [14]:
rent_listing_df[rent_listing_df['Additional'].notnull()].head()

,url,address,neighborhood,rent,bed,baths,Additional
4,https://www.renthop.com/listings/1385-york-ave...,"1385 York Ave, Apt G","Upper East Side, Upper Manhattan, Manhattan","$6,995",2Bed,3Bath,/Flex3
11,https://www.renthop.com/listings/82-76-116th-s...,"82-76 116th Street, Kew Garden...","Kew Gardens, Northeastern Queens, Queens","$2,756",2Bed,2Bath,/Flex3
24,https://www.renthop.com/listings/82-76-116th-s...,"82-76 116th Street, Kew Garden...","Kew Gardens, Northeastern Queens, Queens","$2,756",2Bed,2Bath,/Flex3
75,https://www.renthop.com/listings/550-west-140t...,"550 West 140th Street, Apt 2","Hamilton Heights, West Harlem, Upper Manhattan...","$1,984",Studio,1Bath,/Flex1
85,https://www.renthop.com/listings/550-west-140t...,"550 West 140th Street, Apt 2","Hamilton Heights, West Harlem, Upper Manhattan...","$1,984",Studio,1Bath,/Flex1

In [15]:
rent_listing_df['bed'].value_counts()

1Bed      688
2Bed      591
Studio    322
3Bed      281
4Bed       87
Room       13
5Bed       10
Loft        6
7Bed        1
6Bed        1
Name: bed, dtype: int64

In [16]:
rent_listing_df['baths'].value_counts()

1Bath      1485
2Bath       424
3Bath        53
1.5Bath      18
2.5Bath      10
4Bath         6
7Bath         2
5Bath         1
3.5Bath       1
Name: baths, dtype: int64

In [17]:
rent_listing_df['rent'] = rent_listing_df['rent'].map(lambda x: str(x).replace('$','').replace(',','')).astype('int')

In [18]:
rent_listing_df['bed'] = rent_listing_df['bed'].map(lambda x: x.replace('Bed',''))
rent_listing_df['bed'] = rent_listing_df['bed'].map(lambda x: x.replace('Studio','0'))
rent_listing_df['bed'] = rent_listing_df['bed'].map(lambda x: x.replace('Room','0'))
rent_listing_df['bed'] = rent_listing_df['bed'].map(lambda x: x.replace('Loft','0')).astype(int)

In [19]:
rent_listing_df['baths'] = rent_listing_df['baths'].map(lambda x: x.replace('Bath','')).astype(float)

In [20]:
rent_listing_df.describe()

               rent          bed        baths
count   2000.000000  2000.000000  2000.000000
mean    4073.345000     1.562000     1.295250
std     2423.338656     1.102163     0.564457
min      880.000000     0.000000     1.000000
25%     2750.000000     1.000000     1.000000
50%     3543.000000     1.000000     1.000000
75%     4727.500000     2.000000     1.500000
max    49500.000000     7.000000     7.000000

In [21]:
rent_listing_df['neighborhood'] = rent_listing_df['neighborhood'].map(lambda x: x.strip())

In [22]:
rent_listing_df.groupby('neighborhood')['rent'].count().to_frame('count').sort_values(by='count', ascending=False)

                                                    count
neighborhood
Hell's Kitchen, Midtown Manhattan, Manhattan          155
Upper East Side, Upper Manhattan, Manhattan           108
Yorkville, Upper East Side, Upper Manhattan, Ma...    100
Murray Hill, Midtown Manhattan, Manhattan              96
Financial District, Downtown Manhattan, Manhattan      93
Lincoln Square, Upper West Side, Upper Manhatta...     75
Bedford-Stuyvesant, Northern Brooklyn, Brooklyn        66
Upper West Side, Upper Manhattan, Manhattan            64
West Village, Downtown Manhattan, Manhattan            56
East Village, Downtown Manhattan, Manhattan            51
Bushwick, Northern Brooklyn, Brooklyn                  47
Chelsea, Midtown Manhattan, Manhattan                  47
Downtown Brooklyn, Northwestern Brooklyn, Brooklyn     45
Rose Hill, Kips Bay, Midtown Manhattan, Manhattan      42
Tribeca, Downtown Manhattan, Manhattan                 41
East Harlem, Upper Manhattan, Manhattan                39
Gramercy Park, Midtown Manhattan, Manhattan            38
East Williamsburg, Williamsburg, Northern Brook...     36
Turtle Bay, Midtown East, Midtown Manhattan, Ma...     34
Williamsburg, Northern Brooklyn, Brooklyn              34
Alphabet City, East Village, Downtown Manhattan...     33
Theater District, Midtown Manhattan, Manhattan         31
Flatbush, Central Brooklyn, Brooklyn                   29
Manhattan Valley, Upper West Side, Upper Manhat...     26
Greenpoint, Northern Brooklyn, Brooklyn                26
Crown Heights, Central Brooklyn, Brooklyn              25
Kips Bay, Midtown Manhattan, Manhattan                 22
Astoria, Northwestern Queens, Queens                   22
Washington Heights, Upper Manhattan, Manhattan         21
Lower East Side, Downtown Manhattan, Manhattan         20
...                                                   ...
Central Slope, Park Slope, South Brooklyn, Broo...      3
Prospect Lefferts Gardens, Flatbush, Central Br...      3
Morningside Heights, West Harlem, Upper Manhatt...      3
Hudson Square, SoHo, Downtown Manhattan, Manhattan      3
Kew Gardens Hills, Northeastern Queens, Queens          3
Ocean Hill, Central Brooklyn, Brooklyn                  3
Tudor City, Midtown East, Midtown Manhattan, Ma...      3
Homecrest, Sheepshead Bay, Southern Brooklyn, B...      3
Jackson Heights, Northwestern Queens, Queens            2
Murray Hill, Queens, Flushing, Northeastern Que...      2
Briarwood, Southeastern Queens, Queens                  2
Kensington, Central Brooklyn, Brooklyn                  2
Auburndale, Northeastern Queens, Queens                 2
Flushing, Northeastern Queens, Queens                   2
Bayside, Northeastern Queens, Queens                    2
Ocean Parkway, Midwood, Central Brooklyn, Brooklyn      2
Upper West Side, Manhattan                              1
Wingate, East Flatbush, Central Brooklyn, Brooklyn      1
Ditmars, Astoria, Northwestern Queens, Queens           1
Brighton Beach, Southern Brooklyn, Brooklyn             1
Bensonhurst, Southwestern Brooklyn, Brooklyn            1
Central Park, Upper Manhattan, Manhattan                1
Forest Hills, Northwestern Queens, Queens               1
Steinway, Astoria, Northwestern Queens, Queens          1
Richmond Hill, Southwestern Queens, Queens              1
Gravesend, Southern Brooklyn, Brooklyn                  1
Highland Park, Cypress Hills, Eastern Brooklyn,...      1
Maspeth, Northwestern Queens, Queens                    1
Manhattanville, West Harlem, Upper Manhattan, M...      1
Glendale, Northwestern Queens, Queens                   1

[107 rows x 1 columns]

In [23]:
rent_listing_df.groupby('neighborhood')['rent'].mean().to_frame('mean').sort_values(by='mean', ascending=False)

                                                            mean
neighborhood
Lenox Hill, Upper East Side, Upper Manhattan, M...  14310.714286
Hudson Square, SoHo, Downtown Manhattan, Manhattan   9550.000000
Midtown East, Midtown Manhattan, Manhattan           7914.400000
Flatiron District, Midtown Manhattan, Manhattan      7273.400000
Central Park, Upper Manhattan, Manhattan             6590.000000
Lincoln Square, Upper West Side, Upper Manhatta...   6468.333333
Battery Park City, Downtown Manhattan, Manhattan     6278.583333
NoMad, Midtown Manhattan, Manhattan                  6185.375000
SoHo, Downtown Manhattan, Manhattan                  6085.833333
Lower East Side, Downtown Manhattan, Manhattan       5982.550000
Tribeca, Downtown Manhattan, Manhattan               5676.365854
Garment District, Midtown Manhattan, Manhattan       5671.000000
Stuyvesant Town - Peter Cooper Village, Midtown...   5135.125000
Upper West Side, Manhattan                           5100.000000
Chelsea, Midtown Manhattan, Manhattan                5073.361702
Little Italy, Downtown Manhattan, Manhattan          4975.000000
West Village, Downtown Manhattan, Manhattan          4879.910714
Two Bridges, Downtown Manhattan, Manhattan           4877.000000
Theater District, Midtown Manhattan, Manhattan       4843.161290
Sutton Place, Midtown East, Midtown Manhattan, ...   4766.411765
Upper West Side, Upper Manhattan, Manhattan          4761.906250
Greenwich Village, Downtown Manhattan, Manhattan     4694.333333
Carnegie Hill, Upper East Side, Upper Manhattan...   4375.000000
Murray Hill, Midtown Manhattan, Manhattan            4329.208333
Gramercy Park, Midtown Manhattan, Manhattan          4319.236842
Financial District, Downtown Manhattan, Manhattan    4311.118280
Bowery, Downtown Manhattan, Manhattan                4278.500000
Upper East Side, Upper Manhattan, Manhattan          4254.712963
NoHo, Downtown Manhattan, Manhattan                  4208.333333
Roosevelt Island, Manhattan                          4112.500000
...                                                          ...
Highland Park, Cypress Hills, Eastern Brooklyn,...   2600.000000
Kensington, Central Brooklyn, Brooklyn               2588.000000
Prospect Lefferts Gardens, Flatbush, Central Br...   2560.666667
Steinway, Astoria, Northwestern Queens, Queens       2550.000000
Bayside, Northeastern Queens, Queens                 2525.000000
Gravesend, Southern Brooklyn, Brooklyn               2500.000000
Sunnyside, Long Island City, Northwestern Queen...   2395.000000
Kew Gardens, Northeastern Queens, Queens             2361.400000
Flushing, Northeastern Queens, Queens                2347.500000
Wingate, East Flatbush, Central Brooklyn, Brooklyn   2300.000000
Forest Hills, Northwestern Queens, Queens            2300.000000
Crown Heights, Central Brooklyn, Brooklyn            2294.400000
Hudson Heights, Washington Heights, Upper Manha...   2285.400000
Weeksville, Crown Heights, Central Brooklyn, Br...   2216.500000
Greenwood Heights, South Brooklyn, Brooklyn          2183.571429
Sunset Park, South Brooklyn, Brooklyn                2181.666667
Jamaica, Southeastern Queens, Queens                 2181.250000
Jackson Heights, Northwestern Queens, Queens         2150.000000
Tudor City, Midtown East, Midtown Manhattan, Ma...   2105.000000
Briarwood, Southeastern Queens, Queens               2100.000000
Bensonhurst, Southwestern Brooklyn, Brooklyn         2000.000000
Inwood, Upper Manhattan, Manhattan                   1985.000000
Auburndale, Northeastern Queens, Queens              1967.500000
Brighton Beach, Southern Brooklyn, Brooklyn          1950.000000
Ditmars, Astoria, Northwestern Queens, Queens        1850.000000
Fort George, Washington Heights, Upper Manhatta...   1766.500000
Richmond Hill, Southwestern Queens, Queens           1675.000000
Murray Hill, Queens, Flushing, Northeastern Que...   1675.000000
Maspeth, Northwestern Queens, Queens                 1600.000000
Homecrest, Sheepshead Bay, Southern Brooklyn, B...   1600.000000

[107 rows x 1 columns]

In [24]:
from geopy import ArcGIS

In [27]:
nom = ArcGIS()

In [30]:
from geopy.exc import GeocoderTimedOut

def do_geocode(address):
    try:
        return nom.geocode(address)
    except GeocoderTimedOut:
        time.sleep(1.25)
        return do_geocode(address)

In [31]:
rent_listing_df['location'] = rent_listing_df['neighborhood'].apply(do_geocode)

KeyboardInterrupt:

In [25]:
rent_listing_df['latitude'] = rent_listing_df['location'].apply(lambda x : x.latitude if x else None)

AttributeError: 'str' object has no attribute 'latitude'

In [ ]:
rent_listing_df['longitude'] = rent_listing_df['location'].apply(lambda x : x.longitude if x else None)