In [14]:
from io import StringIO
import pandas as pd

DF1 = StringIO("""Date       Fruit  Num  Color 
2013-11-24 Banana 22.1 Yellow
2013-11-24 Orange  8.6 Orange
2013-11-24 Apple   7.6 Green
2013-11-24 Celery 10.2 Green
""")
DF2 = StringIO("""Date       Fruit  Num  Color 
2013-11-24 Banana 22.1 Yellow
2013-11-24 Orange  8.6 Orange
2013-11-24 Apple   7.6 Green
2013-11-24 Celery 10.2 Green
2013-11-25 Apple  22.1 Red
2013-11-25 Orange  8.6 Orange""")


df1 = pd.read_table(DF1, sep='\s+')
df2 = pd.read_table(DF2, sep='\s+')

In [15]:
df1

         Date   Fruit   Num   Color
0  2013-11-24  Banana  22.1  Yellow
1  2013-11-24  Orange   8.6  Orange
2  2013-11-24   Apple   7.6   Green
3  2013-11-24  Celery  10.2   Green

In [22]:
df1.shape

(4, 4)

In [24]:
df1.drop(['Date'],axis=1).shape

(4, 3)

In [26]:
df1.eq(df2)

    Date  Fruit    Num  Color
0   True   True   True   True
1   True   True   True   True
2   True   True   True   True
3   True   True   True   True
4  False  False  False  False
5  False  False  False  False

In [4]:
compare_result = {}
compare_result['Fruit_Count'] = ["MATCHED" if df1['Fruit'].count() == df2['Fruit'].count() else "NOT MATCHED"]
compare_result['Color_Count'] = ["MATCHED" if df1['Color'].count() == df2['Color'].count() else "NOT MATCHED"]
compare_result['Num_Sum']     = ["MATCHED" if df1['Num'].sum() == df2['Num'].sum() else "NOT MATCHED"]

In [5]:
compare_result

{'Fruit_Count': ['NOT MATCHED'],
 'Color_Count': ['NOT MATCHED'],
 'Num_Sum': ['NOT MATCHED']}

In [6]:
compare_df = pd.DataFrame.from_dict(compare_result)

In [7]:
compare_df

   Fruit_Count  Color_Count      Num_Sum
0  NOT MATCHED  NOT MATCHED  NOT MATCHED

In [8]:
def compare_two_dfs(input_df_1, input_df_2):
    df_1, df_2 = input_df_1.copy(), input_df_2.copy()
    ne_stacked = (df_1 != df_2).stack()
    changed = ne_stacked[ne_stacked]
    changed.index.names = ['id', 'col']
    difference_locations = np.where(df_1 != df_2)

    changed_from = df_1.values[difference_locations]

    changed_to = df_2.values[difference_locations]

    df = pd.DataFrame({'from': changed_from, 'to': changed_to}, index=changed.index)
    return df