In [1]:
import os.path
import datetime
import re
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

from mlsettings.settings import load_app_config, get_datafolder_path
from mltools.modelbuilder.supervised  import SupervisedDataLoader 

warnings.filterwarnings('ignore')
% matplotlib inline 
np.set_printoptions(precision=4)

pd.set_option('display.width', 200)
pd.set_option('precision', 4)
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
sns.set_style("whitegrid")
pd.options.display.float_format = '{:,.4f}'.format
sns.set()
import logging
logger = logging.getLogger()
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s', datefmt='%d-%b-%y %H:%M:%S')
logger.setLevel(logging.DEBUG)

11-Nov-18 22:04:25 - DEBUG - backend module://ipykernel.pylab.backend_inline version unknown
11-Nov-18 22:04:25 - DEBUG - backend module://ipykernel.pylab.backend_inline version unknown

In [2]:
load_app_config()
DIRECTORY="lendingclub"
TRAIN_FILE  = "Lending_Train.csv"
TEST_FILE  = "Lending_Test.csv"
RESPONSE = "loan_status"
input_path = get_datafolder_path()
train_file = os.path.join(input_path, DIRECTORY, TRAIN_FILE)
test_file = os.path.join(input_path, DIRECTORY, TEST_FILE)
supervisedloader = SupervisedDataLoader(train_file=train_file,test_file=test_file,response =RESPONSE) 
train_dataset,test_dataset = supervisedloader.load()
supervisedloader.response

11-Nov-18 22:04:25 - INFO - Adding D:\DataSource to system path
11-Nov-18 22:04:25 - INFO - Adding D:\MachineLearning to system path
11-Nov-18 22:04:25 - INFO - Loading train_file :D:\DataSource\lendingclub\Lending_Train.csv
11-Nov-18 22:04:27 - INFO - Loading test_file :D:\DataSource\lendingclub\Lending_Test.csv

'loan_status'

In [3]:
train_dataset[RESPONSE].head()

0    Does not meet the credit policy. Status:Charge...
1                                          Charged Off
2                                           Fully Paid
3    Does not meet the credit policy. Status:Charge...
4                                           Fully Paid
Name: loan_status, dtype: object

In [4]:
from datatools.customtransformers import LabelTransformer
label_transformer  = LabelTransformer([RESPONSE])
X_train = label_transformer.fit_transform(train_dataset)
X_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,...,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_status
0,459573,"572,953.0000","25,000.0000","25,000.0000","22,382.6315",36 months,18.78%,913.6300,F,F3,Methodist Healthcare System,9 years,MORTGAGE,"80,000.0000",Not Verified,Nov-09,n,https://lendingclub.com/browse/loanDetail.acti...,572953 added on 11/12/09 > This funds are goi...,small_business,The Greek Tavern,782xx,TX,11.6400,0.0000,Sep-93,700.0000,704.0000,4.0000,54.0000,nan,18.0000,0.0000,"33,761.0000",37.80%,39.0000,f,0.0000,0.0000,"19,182.4300","17,683.5000","8,095.7900","4,679.0700",0.0000,"6,407.5700","1,092.9221",Feb-11,913.6300,Jun-11,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,2
1,548135,"706,738.0000","3,400.0000","3,400.0000","3,400.0000",36 months,11.49%,112.1100,B,B4,state of new jersey,10+ years,MORTGAGE,"76,145.0000",Not Verified,Jul-10,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,mikes loan,080xx,NJ,14.0600,0.0000,Jan-89,695.0000,699.0000,3.0000,nan,nan,10.0000,0.0000,"10,030.0000",58%,41.0000,f,0.0000,0.0000,"1,232.8600","1,232.8600",828.4200,289.5800,0.0000,114.8600,40.0400,Jun-11,112.1100,NaN,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,0
2,480675,"611,124.0000","10,000.0000","10,000.0000","9,975.0000",36 months,10.25%,323.8500,B,B2,Business Technology Group LLC,2 years,RENT,"39,000.0000",Not Verified,Feb-10,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 02/08/10 > Debt Consolidat...,debt_consolidation,loan,712xx,LA,20.8600,0.0000,Jun-98,715.0000,719.0000,0.0000,nan,nan,8.0000,0.0000,"9,844.0000",39.10%,12.0000,f,0.0000,0.0000,"11,561.6810","11,532.7800","10,000.0000","1,561.6800",0.0000,0.0000,0.0000,Jun-12,"2,846.1500",NaN,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,4
3,114943,"113,880.0000","6,000.0000","6,000.0000","5,575.0000",36 months,10.91%,196.1800,C,C3,UWF Parking Services,< 1 year,RENT,"7,000.0000",Not Verified,Aug-07,n,https://lendingclub.com/browse/loanDetail.acti...,I have everything else in my college education...,house,Need to pay for college housing,325xx,FL,8.5700,0.0000,Aug-06,680.0000,684.0000,2.0000,0.0000,0.0000,1.0000,0.0000,0.0000,NaN,2.0000,f,0.0000,0.0000,"4,444.4100","4,129.9000","3,419.4500",893.7700,14.9894,116.2000,1.2100,Jun-09,196.1800,Dec-09,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,nan,nan,nan,nan,2
4,668278,"854,440.0000","8,000.0000","8,000.0000","8,000.0000",36 months,13.06%,269.7900,C,C2,Evergreen Packaging,4 years,MORTGAGE,"42,500.0000",Source Verified,Feb-11,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt Freedom Plan,441xx,OH,10.6700,3.0000,Nov-69,670.0000,674.0000,0.0000,6.0000,98.0000,14.0000,1.0000,"11,251.0000",50%,25.0000,f,0.0000,0.0000,"9,712.1279","9,712.1300","8,000.0000","1,712.1300",0.0000,0.0000,0.0000,Mar-14,286.3900,NaN,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.0000,0.0000,nan,nan,nan,nan,4

In [5]:
y_train = X_train[RESPONSE]
X_train = X_train.drop(RESPONSE,axis =1)
X_test  = test_dataset.drop(RESPONSE,axis=1)

In [6]:
y_train.value_counts()

4    25189
0     4239
3     1491
2      571
1      385
5       12
7        9
6        4
Name: loan_status, dtype: int64

In [7]:
train_dataset[RESPONSE].value_counts()

Fully Paid                                             25189
Charged Off                                             4239
Does not meet the credit policy. Status:Fully Paid      1491
Does not meet the credit policy. Status:Charged Off      571
Current                                                  385
In Grace Period                                           12
Late (31-120 days)                                         9
Late (16-30 days)                                          4
Name: loan_status, dtype: int64

In [8]:
X_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,...,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,459573,"572,953.0000","25,000.0000","25,000.0000","22,382.6315",36 months,18.78%,913.6300,F,F3,Methodist Healthcare System,9 years,MORTGAGE,"80,000.0000",Not Verified,Nov-09,n,https://lendingclub.com/browse/loanDetail.acti...,572953 added on 11/12/09 > This funds are goi...,small_business,The Greek Tavern,782xx,TX,11.6400,0.0000,Sep-93,700.0000,704.0000,4.0000,54.0000,nan,18.0000,0.0000,"33,761.0000",37.80%,39.0000,f,0.0000,0.0000,"19,182.4300","17,683.5000","8,095.7900","4,679.0700",0.0000,"6,407.5700","1,092.9221",Feb-11,913.6300,Jun-11,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan
1,548135,"706,738.0000","3,400.0000","3,400.0000","3,400.0000",36 months,11.49%,112.1100,B,B4,state of new jersey,10+ years,MORTGAGE,"76,145.0000",Not Verified,Jul-10,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,mikes loan,080xx,NJ,14.0600,0.0000,Jan-89,695.0000,699.0000,3.0000,nan,nan,10.0000,0.0000,"10,030.0000",58%,41.0000,f,0.0000,0.0000,"1,232.8600","1,232.8600",828.4200,289.5800,0.0000,114.8600,40.0400,Jun-11,112.1100,NaN,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan
2,480675,"611,124.0000","10,000.0000","10,000.0000","9,975.0000",36 months,10.25%,323.8500,B,B2,Business Technology Group LLC,2 years,RENT,"39,000.0000",Not Verified,Feb-10,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 02/08/10 > Debt Consolidat...,debt_consolidation,loan,712xx,LA,20.8600,0.0000,Jun-98,715.0000,719.0000,0.0000,nan,nan,8.0000,0.0000,"9,844.0000",39.10%,12.0000,f,0.0000,0.0000,"11,561.6810","11,532.7800","10,000.0000","1,561.6800",0.0000,0.0000,0.0000,Jun-12,"2,846.1500",NaN,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan
3,114943,"113,880.0000","6,000.0000","6,000.0000","5,575.0000",36 months,10.91%,196.1800,C,C3,UWF Parking Services,< 1 year,RENT,"7,000.0000",Not Verified,Aug-07,n,https://lendingclub.com/browse/loanDetail.acti...,I have everything else in my college education...,house,Need to pay for college housing,325xx,FL,8.5700,0.0000,Aug-06,680.0000,684.0000,2.0000,0.0000,0.0000,1.0000,0.0000,0.0000,NaN,2.0000,f,0.0000,0.0000,"4,444.4100","4,129.9000","3,419.4500",893.7700,14.9894,116.2000,1.2100,Jun-09,196.1800,Dec-09,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,nan,nan,nan,nan
4,668278,"854,440.0000","8,000.0000","8,000.0000","8,000.0000",36 months,13.06%,269.7900,C,C2,Evergreen Packaging,4 years,MORTGAGE,"42,500.0000",Source Verified,Feb-11,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt Freedom Plan,441xx,OH,10.6700,3.0000,Nov-69,670.0000,674.0000,0.0000,6.0000,98.0000,14.0000,1.0000,"11,251.0000",50%,25.0000,f,0.0000,0.0000,"9,712.1279","9,712.1300","8,000.0000","1,712.1300",0.0000,0.0000,0.0000,Mar-14,286.3900,NaN,Sep-16,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.0000,0.0000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.0000,0.0000,nan,nan,nan,nan

In [9]:
from mltools.mlhelper import missing_values
X_train_missing = missing_values(X_train)
X_test_missing = missing_values(X_test)
X_train_length = X_train.shape[0]
X_test_length = X_test.shape[0]
missing_training_all  = X_train_missing[X_train_missing['Missing_Values'] == X_train_length]
missing_testing_all  = X_test_missing[X_test_missing['Missing_Values'] == X_test_length]
print("No of columns that have 100% missing values in training dataset :{0}".format(missing_training_all.shape[0]))
print("No of columns that have 100% missing values in test dataset :{0}".format(missing_testing_all.shape[0]))

No of columns that have 100% missing values in training dataset :54
No of columns that have 100% missing values in test dataset :54

In [10]:
X_train_missing.head()

                           Feature  Missing_Values  Percent_of_Total_Values
75                     total_cu_tl           31900                 100.0000
73                total_rev_hi_lim           31900                 100.0000
92           num_accts_ever_120_pd           31900                 100.0000
91  mths_since_recent_revol_delinq           31900                 100.0000
90           mths_since_recent_inq           31900                 100.0000

In [11]:
features_to_drop = missing_testing_all['Feature'].tolist()

In [12]:
X_train = X_train.drop(features_to_drop,axis =1)
X_test  = X_test.drop(features_to_drop,axis =1)
X_train.shape

(31900, 60)

In [13]:
feature_count  = X_train.nunique(dropna=False)
constant_features = pd.DataFrame({'feature':feature_count.index,'count':feature_count.values})
print("constant features :{0},{1}".format(*constant_features.shape))
remove_constants =constant_features[constant_features['count']==1]['feature'].tolist()
remove_constants

constant features :60,2

['initial_list_status', 'policy_code', 'application_type']

In [14]:
print("Before removing constant features :{0}".format(X_train.shape))
X_train.drop(remove_constants,axis =1,inplace=True)
print("After removing constant features :{0}".format(X_train.shape))

Before removing constant features :(31900, 60)
After removing constant features :(31900, 57)

In [15]:
print("Before removing constant features :{0}".format(X_test.shape))
X_test.drop(remove_constants,axis =1,inplace=True)
print("After removing constant features :{0}".format(X_test.shape))

Before removing constant features :(10634, 60)
After removing constant features :(10634, 57)

In [16]:
X_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,459573,"572,953.0000","25,000.0000","25,000.0000","22,382.6315",36 months,18.78%,913.6300,F,F3,Methodist Healthcare System,9 years,MORTGAGE,"80,000.0000",Not Verified,Nov-09,n,https://lendingclub.com/browse/loanDetail.acti...,572953 added on 11/12/09 > This funds are goi...,small_business,The Greek Tavern,782xx,TX,11.6400,0.0000,Sep-93,700.0000,704.0000,4.0000,54.0000,nan,18.0000,0.0000,"33,761.0000",37.80%,39.0000,0.0000,0.0000,"19,182.4300","17,683.5000","8,095.7900","4,679.0700",0.0000,"6,407.5700","1,092.9221",Feb-11,913.6300,Jun-11,Sep-16,659.0000,655.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,548135,"706,738.0000","3,400.0000","3,400.0000","3,400.0000",36 months,11.49%,112.1100,B,B4,state of new jersey,10+ years,MORTGAGE,"76,145.0000",Not Verified,Jul-10,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,mikes loan,080xx,NJ,14.0600,0.0000,Jan-89,695.0000,699.0000,3.0000,nan,nan,10.0000,0.0000,"10,030.0000",58%,41.0000,0.0000,0.0000,"1,232.8600","1,232.8600",828.4200,289.5800,0.0000,114.8600,40.0400,Jun-11,112.1100,NaN,Sep-16,649.0000,645.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,480675,"611,124.0000","10,000.0000","10,000.0000","9,975.0000",36 months,10.25%,323.8500,B,B2,Business Technology Group LLC,2 years,RENT,"39,000.0000",Not Verified,Feb-10,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 02/08/10 > Debt Consolidat...,debt_consolidation,loan,712xx,LA,20.8600,0.0000,Jun-98,715.0000,719.0000,0.0000,nan,nan,8.0000,0.0000,"9,844.0000",39.10%,12.0000,0.0000,0.0000,"11,561.6810","11,532.7800","10,000.0000","1,561.6800",0.0000,0.0000,0.0000,Jun-12,"2,846.1500",NaN,Sep-16,764.0000,760.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,114943,"113,880.0000","6,000.0000","6,000.0000","5,575.0000",36 months,10.91%,196.1800,C,C3,UWF Parking Services,< 1 year,RENT,"7,000.0000",Not Verified,Aug-07,n,https://lendingclub.com/browse/loanDetail.acti...,I have everything else in my college education...,house,Need to pay for college housing,325xx,FL,8.5700,0.0000,Aug-06,680.0000,684.0000,2.0000,0.0000,0.0000,1.0000,0.0000,0.0000,NaN,2.0000,0.0000,0.0000,"4,444.4100","4,129.9000","3,419.4500",893.7700,14.9894,116.2000,1.2100,Jun-09,196.1800,Dec-09,Sep-16,684.0000,680.0000,nan,0.0000,nan,0.0000,nan,0.0000
4,668278,"854,440.0000","8,000.0000","8,000.0000","8,000.0000",36 months,13.06%,269.7900,C,C2,Evergreen Packaging,4 years,MORTGAGE,"42,500.0000",Source Verified,Feb-11,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt Freedom Plan,441xx,OH,10.6700,3.0000,Nov-69,670.0000,674.0000,0.0000,6.0000,98.0000,14.0000,1.0000,"11,251.0000",50%,25.0000,0.0000,0.0000,"9,712.1279","9,712.1300","8,000.0000","1,712.1300",0.0000,0.0000,0.0000,Mar-14,286.3900,NaN,Sep-16,654.0000,650.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000

In [17]:
def get_nullframe(dataset):
    null_sum = dataset.isnull().sum()[dataset.isnull().sum()>0] 
    return pd.DataFrame({'feature':null_sum.index,'count':null_sum.values,
                          'null_percent':(null_sum.values/dataset.shape[0])*100}).sort_values(by=['count'],ascending=False)

In [18]:
X_train_null =get_nullframe(X_train)
X_train_null

                       feature  count  null_percent
15                next_pymnt_d  29428       92.2508
9       mths_since_last_record  29170       91.4420
8       mths_since_last_delinq  20242       63.4545
3                         desc   9971       31.2571
0                    emp_title   1954        6.1254
21        pub_rec_bankruptcies   1017        3.1881
1                   emp_length    829        2.5987
19    chargeoff_within_12_mths    112        0.3511
17  collections_12_mths_ex_med    112        0.3511
22                   tax_liens     80        0.2508
12                  revol_util     69        0.2163
14                last_pymnt_d     59        0.1850
10                    open_acc     18        0.0564
7               inq_last_6mths     18        0.0564
13                   total_acc     18        0.0564
6             earliest_cr_line     18        0.0564
5                  delinq_2yrs     18        0.0564
18              acc_now_delinq     18        0.0564
20                 delinq_amnt     18        0.0564
11                     pub_rec     18        0.0564
4                        title     10        0.0313
16          last_credit_pull_d      3        0.0094
2                   annual_inc      1        0.0031

In [19]:
X_test_null =get_nullframe(X_test)

In [20]:
X_train['term'] =X_train['term'].apply(lambda x:x.replace('months','')).astype(int)
X_test['term'] =X_test['term'].apply(lambda x:x.replace('months','')).astype(int)

In [21]:
X_train['int_rate'] =X_train['int_rate'].apply(lambda x:x.replace('%','')).astype(float)
X_test['int_rate'] =X_test['int_rate'].apply(lambda x:x.replace('%','')).astype(float)

In [22]:
X_test['emp_length'] =X_test['emp_length'].fillna('0')
X_train['emp_length'] =X_train['emp_length'].fillna('0')
X_train['emp_length'] =X_train['emp_length'].apply(lambda x:re.sub(r'years?|\<|\+| ','',x )).astype(int)
X_test['emp_length'] =X_test['emp_length'].apply(lambda x:re.sub(r'years?|\<|\+| ','',x )).astype(int)

In [23]:
X_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,459573,"572,953.0000","25,000.0000","25,000.0000","22,382.6315",36,18.7800,913.6300,F,F3,Methodist Healthcare System,9,MORTGAGE,"80,000.0000",Not Verified,Nov-09,n,https://lendingclub.com/browse/loanDetail.acti...,572953 added on 11/12/09 > This funds are goi...,small_business,The Greek Tavern,782xx,TX,11.6400,0.0000,Sep-93,700.0000,704.0000,4.0000,54.0000,nan,18.0000,0.0000,"33,761.0000",37.80%,39.0000,0.0000,0.0000,"19,182.4300","17,683.5000","8,095.7900","4,679.0700",0.0000,"6,407.5700","1,092.9221",Feb-11,913.6300,Jun-11,Sep-16,659.0000,655.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,548135,"706,738.0000","3,400.0000","3,400.0000","3,400.0000",36,11.4900,112.1100,B,B4,state of new jersey,10,MORTGAGE,"76,145.0000",Not Verified,Jul-10,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,mikes loan,080xx,NJ,14.0600,0.0000,Jan-89,695.0000,699.0000,3.0000,nan,nan,10.0000,0.0000,"10,030.0000",58%,41.0000,0.0000,0.0000,"1,232.8600","1,232.8600",828.4200,289.5800,0.0000,114.8600,40.0400,Jun-11,112.1100,NaN,Sep-16,649.0000,645.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,480675,"611,124.0000","10,000.0000","10,000.0000","9,975.0000",36,10.2500,323.8500,B,B2,Business Technology Group LLC,2,RENT,"39,000.0000",Not Verified,Feb-10,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 02/08/10 > Debt Consolidat...,debt_consolidation,loan,712xx,LA,20.8600,0.0000,Jun-98,715.0000,719.0000,0.0000,nan,nan,8.0000,0.0000,"9,844.0000",39.10%,12.0000,0.0000,0.0000,"11,561.6810","11,532.7800","10,000.0000","1,561.6800",0.0000,0.0000,0.0000,Jun-12,"2,846.1500",NaN,Sep-16,764.0000,760.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,114943,"113,880.0000","6,000.0000","6,000.0000","5,575.0000",36,10.9100,196.1800,C,C3,UWF Parking Services,1,RENT,"7,000.0000",Not Verified,Aug-07,n,https://lendingclub.com/browse/loanDetail.acti...,I have everything else in my college education...,house,Need to pay for college housing,325xx,FL,8.5700,0.0000,Aug-06,680.0000,684.0000,2.0000,0.0000,0.0000,1.0000,0.0000,0.0000,NaN,2.0000,0.0000,0.0000,"4,444.4100","4,129.9000","3,419.4500",893.7700,14.9894,116.2000,1.2100,Jun-09,196.1800,Dec-09,Sep-16,684.0000,680.0000,nan,0.0000,nan,0.0000,nan,0.0000
4,668278,"854,440.0000","8,000.0000","8,000.0000","8,000.0000",36,13.0600,269.7900,C,C2,Evergreen Packaging,4,MORTGAGE,"42,500.0000",Source Verified,Feb-11,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt Freedom Plan,441xx,OH,10.6700,3.0000,Nov-69,670.0000,674.0000,0.0000,6.0000,98.0000,14.0000,1.0000,"11,251.0000",50%,25.0000,0.0000,0.0000,"9,712.1279","9,712.1300","8,000.0000","1,712.1300",0.0000,0.0000,0.0000,Mar-14,286.3900,NaN,Sep-16,654.0000,650.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000