In [1]:
import numpy as np
import pandas as pd

In [2]:
input_file = r'..\AML\data\adult.data.csv'
uci_dataset  = pd.read_csv(input_file)
uci_dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [3]:
uci_dataset['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. What is the average age (age feature) of women?

In [4]:
uci_dataset[uci_dataset['sex']=='Female']['age'].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [11]:
(uci_dataset[uci_dataset['native-country']=='Germany']['native-country'].count()/uci_dataset['native-country'].count())*100

0.42074874850281013

4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [12]:
uci_dataset.groupby(['salary'])['age'].agg({'mean','std'})

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [14]:
uci_dataset.groupby(['education','salary'])['salary'].count()

education     salary
10th          <=50K      871
              >50K        62
11th          <=50K     1115
              >50K        60
12th          <=50K      400
              >50K        33
1st-4th       <=50K      162
              >50K         6
5th-6th       <=50K      317
              >50K        16
7th-8th       <=50K      606
              >50K        40
9th           <=50K      487
              >50K        27
Assoc-acdm    <=50K      802
              >50K       265
Assoc-voc     <=50K     1021
              >50K       361
Bachelors     <=50K     3134
              >50K      2221
Doctorate     <=50K      107
              >50K       306
HS-grad       <=50K     8826
              >50K      1675
Masters       <=50K      764
              >50K       959
Preschool     <=50K       51
Prof-school   <=50K      153
              >50K       423
Some-college  <=50K     5904
              >50K      1387
Name: salary, dtype: int64

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [16]:
uci_dataset.groupby(['race','sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [18]:
uci_dataset['married'] = uci_dataset['marital-status'].apply(lambda x : "yes" if x.startswith('Married') else "No")

In [24]:
uci_dataset[uci_dataset['salary']=='>50K'].groupby(['married'])['married'].agg({'count'})

         count
married
No        1105
yes       6736

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [34]:
max_hours = uci_dataset['hours-per-week'].max()
display(max_hours)
people_count_for_maxhours =uci_dataset[uci_dataset['hours-per-week'] == max_hours].shape[0]
display(people_count_for_maxhours)
persons_working_maxhours =uci_dataset[uci_dataset['hours-per-week'] == max_hours]
(persons_working_maxhours[persons_working_maxhours['salary'] == '>50K']['salary'].count()/people_count_for_maxhours)*100

99

85

29.411764705882355

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [64]:
x = uci_dataset.groupby(['native-country','salary'] ,as_index=False)['hours-per-week'].mean() 
x[x['native-country']=='Japan']

   native-country salary  hours-per-week
47          Japan  <=50K       41.000000
48          Japan   >50K       47.958333