In [1]:
import json

In [2]:
input_data = [
  {
    'We': 'A',
    'They':'B',
    'Reclevel':'C',
    'RecDate':'D',
    'Region':'E'
  }
]

In [3]:
json_input=json.dumps(input_data)

In [4]:
import pandas as pd

In [5]:
json_df = pd.read_json(json_input)

In [6]:
json_df

  We They Reclevel RecDate Region
0  A    B        C       D      E

In [7]:
from datatools.customtransformers import LabelTransformer

In [8]:
lbl_tf = LabelTransformer(cols = json_df.columns.values)

In [9]:
trns_df = lbl_tf.transform(json_df)

In [10]:
trns_df

   We  They  Reclevel  RecDate  Region
0   0     0         0        0       0

In [11]:
inv_df = lbl_tf.inverse_transform(trns_df)

In [12]:
inv_df

  We They Reclevel RecDate Region
0  A    B        C       D      E